* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --darkRed: #df0611;
  --lightRed: #f40612;
  --darkGray: #040404;
  --lightGray: #303030;
  --fontGray: #737373;
  --white: #E8F0FE;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

main {
  background-color: var(--white);
  border-bottom: 1px solid var(--fontGray);
  min-height: 100vh;
  padding: 120px 100px 30px;
}

@media(max-width: 530px) {
  main {
    padding: 100px 30px 30px;
  }
}

header {
  top: 0;
}

::-webkit-scrollbar { 
  background-color: #141414; 
  width: 8px;
}
::-webkit-scrollbar-thumb { 
  background-color: var(--lightGray); 
}